@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --red-color: #EE4949;
    --background-color: #303030;
}

html {
    font-family: "Roboto";
    background-color: #222;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: white;
}

h1 {
    color: white;
}

.welcome-box {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    border-width: 3px;
    border-style: solid;
    border-color: var(--red-color);
    background-color: var(--background-color);
    width: 40vw;
    max-width: 40vw;
    padding: 3vh 3vw;
}

a {
    color: white;
    text-decoration: underline;
}

a:visited {
    text-decoration: underline;
    color: white;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid var(--red-color);
    margin: 1em 0;
    padding: 0;
}

i {
    font-size: 40px;
    margin: 5px;
    transform: translateX(-6px);
}

.button {
    display: inline-block;
    color: white;
    margin: 0vh 1vw;
    transition: all .5s ease;
    text-transform: uppercase;
    text-align: center;
    background-color: transparent;
    outline: none;
    border-radius: 4px;
    box-sizing: border-box;
    border-width: 1px;
    border-color: #EE4949;
    border-style: solid;
    width: 50px;
    height: 50px;
    max-height: 50px;
    max-width: 50px;

}
  
.button:hover {
    background-color: var(--red-color);
    cursor:pointer;
}

.verified-autists {
    display: flex;
    flex-direction: column;
    line-height: 30px;
}

.links {
    display: flex;
    flex-direction: column;
    line-height: 30px;
}

@media only screen and (max-width: 600px) {
    .welcome-box {
        width: 80vw;
        max-width: 80vw;
        border-width: 2px;
    }

    .button {
        border-width: 2px;
        border-radius: 3px;
    }
    
    .button i {
        transform: translateX(-7px);
    }

    hr {
        border-width: 2px;
    }
}